################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/.vs/slnx.sqlite
/.vs/VSWorkspaceState.json
/.vs/PTI-Projeto-Integrador-Pt2/v17/.wsuo
/.vs/PTI-Projeto-Integrador-Pt2/FileContentIndex/f6c6e1b1-0aa0-4043-a3ca-3e23e025046f.vsidx
