* {
	box-sizing: border-box;
/*	border: 1px solid black;*/
}

section	{	height: 100vh; }

.container {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.logo {
	height: 40%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.login {
	height: 55%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

img {
	height: 66%;
}

.rodape {
	height: 5%;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border-top: 1px solid #75715E;
}

.rodape p {
	text-align: center;
}

input {
	border-radius: 50px;
	border: 0;
	width: 288px;
	height: 50px;
	padding-left: 20px;
}

button {
	border-radius: 50px;
	border: 0;
	width: 289px;
	height: 49px;
	color: #FFFFFF;
	background-color: #FF8500;
}

body {
	color: #9C9C9C;
	background-color: #7B2CBF;

	font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
/*  font-weight: <weight>;*/
  font-style: normal;
  font-variation-settings:
    "slnt" 0;
}

/*<uniquifier>: Use a unique and descriptive class name
<weight>: Use a value from 100 to 900

.inter-<uniquifier> {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "slnt" 0;
}
*/